* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(217, 30%, 17%);
    --font-color: hsl(193, 38%, 86%);
    --dice-color: hsl(150, 100%, 66%);
}

body {
    background-image: url("./assets/background.jpg");
    background-color: var(--bg-color);
    background-size: 100% 105%;
    background-repeat: no-repeat;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 95vh;
}

.card {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    box-shadow: 35px 35px 68px 0px rgba(202, 206, 212, 0.5), inset -7px -7px 16px 0px rgba(202, 206, 212, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.card .advice-id {
    margin: 25px 0 25px 0;
    font-weight: 100;
    color: var(--dice-color);
    font-size: .9rem;
    letter-spacing: 5px;
}

.advice {
    text-align: center;
    color: var(--font-color);
    font-size: 5vw;
}


.divider {
    margin-top: 25px;
    margin-bottom: 25px;
}


.dice {
    transition: 0.4s;
    margin-bottom: -20px;
    margin-top: 10px;
    background-color: var(--dice-color);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.dice img {
    height: 18px;
    width: 18px;
}

/* hover */
.dice:hover {
    transition: 0.4s;
    cursor: pointer;
    box-shadow: var(--dice-color) 0px 3px 20px, var(--dice-color) 0px -3px 20px;
}